{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block static %} {% static 'pages/form.css' %} {% endblock %}

{% block content %}
    {% load user_filters %}
    <div class="main__header">
        <h1 class="main__title">Login</h1>
    </div>
    <div class="form-container">
        <form method="post" class="form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form__group">
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                    <div class="form__field-group">
                        {{ field|add_class:"form__input" }}
                    </div>
                </div>
            {% endfor %}
            {% if form.errors %}
                <span class="form__error">{{ form.non_field_errors }}</span>
            {% endif %}
            <div class="form__footer">
                <button class="button button_style_blue">Login</button>
                <a href="{% url 'password_reset' %}" class="form__forgot-link">Forgot password?</a>
            </div>
        </form>
    </div>
{% endblock %}