{% extends "base.html" %}
{% load static %}
{% block title %}Change password{% endblock %}
{% block static %} {% static 'pages/form.css' %} {% endblock %}

{% block content %}
    {% load user_filters %}
    <div class="main__header">
        <h1 class="main__title">Change password</h1>
    </div>
    <div class="form-container">
        <form method="post" class="form">
            {% csrf_token %}

            {% for field in form %}
                <div class="form__group">
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                    <div class="form__field-group">

                        {{ field|add_class:"form__input" }}

                        {% if field.name == 'new_password1' %}
                            <span class="form__input-info">Password shouldn't be similar to you name, surname, login, etc.</span>
                            <span class="form__input-info">Password should be at least 8 symbols.</span>
                            <span class="form__input-info">Please don't use qwerty-like passwords.</span>
                            <span class="form__input-info">Password should contain lowercase and uppercase letters, numbers.</span>
                        {% endif %}

                        {% if field.errors %}<span class="form__error">{{ field.errors }}</span>{% endif %}
                    </div>
                </div>
            {% endfor %}

            <div class="form__footer">
                <button class="button button_style_blue">Change password</button>
            </div>
        </form>
    </div>
{% endblock %}
