<!doctype html>
<html lang="ru">
<head>
    {% csrf_token %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Foodgram{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% block static %}'/static/pages/index.css'{% endblock %}">
</head>
<body class="body">
{% include 'includes/nav.html' %}
<main class="main container">
    {% block content %}
    {% endblock content %}
</main>
{% include 'includes/footer.html' %}
</body>
</html>
